/* Ektron needs span id="cntDynamic" wrapped around every ID, and this disobeys #section>*, so I have to add this rule as a bandaid */
#cntDynamic>* {
margin-left: 5px;
margin-right: 5px;
}
/* offsets everything to line up with the grid */
/*  Hide Ektron's Ajax loading gif */
.EktronAjaxLoading {
display: none !important;
}
/* Ektron FLEXMenu classes */
/* 2 types of links: ekflexmenu_submenu_btnlink + ekflexmenu_link
/* ekflexmenu_submenu_btnlink is the tier 1 entry that expands to show tier 2 list of links */
/* ekflexmenu_link is a tier 1 or tier 2 entry that will never contain a subtier of links */
.menu .ekflexmenu_submenu_items_hidden {
display: none;
}
/* hide tiers that aren't opened yet */
/* tier 1 */
.menu .ekflexmenu_submenu_btnlink:hover,
.menu .ekflexmenu_link:hover,
.menu .ekflexmenu_link_selected,
.menu .ekflexmenu_link_selected:hover,
.menu .ekflexmenu_button_selected {
color: #FFF !important;
background-color: #1799fe !important;
}
/* tier 2 */
.menu ul ul .ekflexmenu_link_selected,
.menu ul ul .ekflexmenu_link:hover,
.menu ul ul .ekflexmenu_link_selected:hover {
background-color: #888 !important;
background-color: rgba(0,0,0,.5) !important;
color: #FFF;
}
/* tier 3 */
.menu .ekflexmenu_menu_level_2 {
display: none;
}

/* tier 2 links HACK! ie7 and ie8 targeting */
.ie .menu ul ul .ekflexmenu_link_selected, .ie .menu ul ul .ekflexmenu_link:hover, .ie .menu ul ul .ekflexmenu_link_selected:hover {
background-color: #888 !important;
color: #FFF;
}
