/* GLOBAL.CSS (occ-specific stuff) */
a, p, td, li {font-weight:200;}
/* UNIVERSAL EMERGENCY HEADER */
#emergency {background-color:#EE0000; color:#FFF;}
#announcement {background-color:#1799fe; color:#FFF;}
#emergency p, #announcement p{padding:1em 0 1em 45px;margin:0 auto;width:auto;color:#fff;text-shadow:#000 0 1px 0;-webkit-text-shadow:#000 0 1px 0;-moz-text-shadow:#000 0 1px 0;}
#emergency p{background:url(../../gui/images/alerts/warning.png) no-repeat 5px center;}
#announcement p{background:url(../../gui/images/alerts/info.png) no-repeat 5px center;}
/* UNIVERSAL LOGO BADGE */
#occlogo{width:404px;height:100px;position:relative;z-index:1003;left:-100px;top:0;margin:0 0 -100px 0;white-space:nowrap;overflow:hidden;background:transparent url(../../occ_global/images/occlogo.png) no-repeat top left;}
#occlogo a {display:block;text-indent:1000%; height:100px;}
/* UNIVERSAL HEADERNAV DRAWER */
#occheaderbg{position:absolute; left:0; height:400px;width:100%;z-index:1002;background:#000;}
.headernav{position:relative;top:0;overflow:hidden;z-index:1004;padding-left:220px;height:48px;}
/* jquery toggle classes */
#occheaderbg.closed, .headernav.closed {height:48px;}
#occheaderbg.opened, .headernav.opened {height:230px;}
/* header contents */
.headernav div{display:inline-block;vertical-align:top;width:174px;border-right:1px solid #555;padding:15px 0 0 5px; margin-left:4em;}
  .ie7 .headernav div {display:block; float:left;}
.headernav .formbox{border:none; margin-left:.5em;}
.headernav h3{text-transform:uppercase;color:#1799fe;font-size:1em; font-weight:200;padding:0 0 0 25px; background:transparent url(../../gui/images/tap_menu_icon.gif) no-repeat center left;}
.headernav ul{padding:0 0 1em 0;height:auto;}
.headernav li{list-style:none;font-size:.9em; margin-bottom:1em;}
  .ie7 .headernav li, .ie8 .headernav li {font-size:.8em;}
.headernav a {display:block; line-height:1.2;}
.headernav form {margin-top:-7px;}
.headernav label{display:none;}
.headernav .searchbox{height:19px;padding:5px;background:#333;border:1px solid #444; border-right-width:0; color:#fff;position:relative;width:130px;font-style:normal;border-radius:3px 0 0 3px;}
.headernav .submitbutton{text-indent:1000%;white-space:nowrap;overflow:hidden;width:30px;height:31px;background:url(../../occ_global/images/occ_global_sprites.png) no-repeat 0 0;border:1px solid #444;border-width:1px 0 1px 0; position:relative; padding:0; margin:0;}
  .ie7 .headernav .submitbutton {top:-7px; background:#1799fe; color:#fff; height:31px;}
  .ie8 .headernav .submitbutton {top:2px; background:#1799fe; color:#fff; height:31px; text-indent:0; overflow:visible; white-space:normal;}
.headernav p{font-size:13px;margin:.8em 0 .4em 0;}
#occheader.basic{height:300px;}
.headernav.basic{position:relative;height:auto;}
.secure{padding-left:15px;background:url(../../occ_global/images/occ_global_sprites.png) no-repeat -4px -47px;}
/* UNIVERSAL MAIN CONTENT AREA */
#main {background:#fff url(../../occ_global/images/index_page_top_tile.jpg) repeat-x top left;}
#menutitle {font-weight:200; padding-top:2em;}
/* UNIVERSAL FOOTER */
#occfooter{clear:both;background:#000;color:#aaa;font-size:.9em;display:block;padding:2em 0 4em 0;border-top:1px solid #000; margin:0;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(34,34,34,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(34,34,34,1)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(34,34,34,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(34,34,34,1) 100%);
  }
#occfooter .logotext,.tagline{font-family:'minion pro','times new roman',serif;font-size:1.25em;text-transform:uppercase;color:#fff;margin-bottom:1em;font-weight:normal;}
#occfooter .tagline{text-transform:none; margin-bottom:1em;}
#occfooter a{color:#fff;}
#occfooter .question{display:block;background:transparent url(../images/occ_global_sprites.png) no-repeat 0px -70px;height:20px;padding:10px 0 10px 30px;font-size:1em; margin-bottom:.75em;}
#occfooter ul{list-style:none;padding:0;float:left;margin:0 50px 0 0;}
#occfooter li{line-height:1; margin-bottom:.75em;}
/* UNIVERSAL MEDIA QUERIES */
@media all and (max-width:970px),(max-width:550px){
  .container{width:100%;margin:0;padding:0;}
  #section,#section.hasmenu{float:none;margin:0;width:100%;padding:0;}
}
@media all and (max-width:970px){
  .precoldot5, .precol1, .precol2, .precol3, .precol4, .precol5, .precol6 {margin-left:5px !important;}
  .col1{width:14.75%;}
  .col1dot5{width:23%;}
  .col2{width:31.3%;}
  .col3{width:48%;}
  .col4{width:66%;}
  .col5{width:82%;}
  .col6{width:95%;}
  .nest {width:100%;}
  #occlogo {background-image:url(../images/occlogo_variant1.jpg); width:100%; background-color:#000;left:0;background-position:0 2px;}
  #occheaderbg, .headernav {margin-top:50px;}
  .headernav {position:relative;overflow:hidden;padding-left:0;background:#000;width:100%;border-top:1px solid #333;height:auto;}
  .headernav div{width:25%; margin-left:0;}
  .headernav h3, .headernav li {font-size:90%;}
  .headernav h3 {margin:.25em 0 1em 0;}
  #occfooter .tagline, #occfooter .logotext {width:48%;}
  #occfooter .tagline {margin-bottom:2em;}
  #aside, .aside, aside, #aside >*, .aside>*, aside>*, .menu li a, .menu ul ul a {width:97%; display:block; padding-left:5px; padding-right:0; max-width:97%;}
}
@media all and (max-width:550px){
  .col1,.col1dot5,.col2,.col3,.col4,.col5,.col6{width:97%;float:none;clear:both;margin:0 0 0 5px;padding:0;}
  #occlogo {position:relative;margin:0;height:30px; background-image:url(../images/occlogo_variant2.gif);background-position:0 -8px;}
  #occlogo a, #occheaderbg{display:none;} /* logo link disabled for small UI */
  .headernav{position:relative;overflow:hidden;padding-left:0;background:#000;width:100%;margin:0;}
  #occheaderbg.opened, .headernav.opened {height:auto;}
  .headernav div{display:block;vertical-align:top;width:45%;margin-left:5px;float:left;}
    .ie7 .headernav div {float:none;}
  .headernav form {margin-bottom:1px;}
  .headernav h3{margin-bottom:3em;}
  .headernav li {margin-bottom:1.5em;}
  .headernav.basic{position:relative;height:auto;background:#000;}
  .headernav .secure{padding-left:20px;background-position:0px -47px;}
  .headernav .searchbox{width:100px;}
  #occfooter {margin-top:0; padding:1em 5px 1em 5px;}
  #occfooter .tagline, #occfooter .logotext {width:100%; }
  #occfooter .textright {text-align:left;}
  #occfooter ul{float:none;margin:0;}
  #occfooter ul a, #occfooter p {display:block; text-align:left;}
  #occfooter li {padding:1.5em 0 .8em 0; border-top:1px solid #333;}
  .left,.right{float:none;}
  .polaroid{display:none;}
  .bg_slideshow {margin-top:0px;}
  .bg_slideshow_controls{position:relative;float:right;z-index:6;top:10px;margin:0;width:135px;list-style:none;padding:0;}
}
/* UNIVERSAL EKTRON OVERRIDES */
/* Ektron needs span id="cntDynamic" wrapped around every ID,and this disobeys #section>*,so I have to add this rule as a bandaid */
#cntDynamic>*{margin-left:5px;margin-right:5px;} /* offsets everything to line up with the grid */
.EktronAjaxLoading{display:none !important;}/* Hide Ektron's Ajax loading gif */
/* Ektron FLEXMenu classes */
/* 2 types of links:ekflexmenu_submenu_btnlink + ekflexmenu_link
/* ekflexmenu_submenu_btnlink is the tier 1 entry that expands to show tier 2 list of links */
/* ekflexmenu_link is a tier 1 or tier 2 entry that will never contain a subtier of links */
.menu .ekflexmenu_submenu_items_hidden{display:none;} /* hide tiers that aren't opened yet */
/* tier 1 */
.menu .ekflexmenu_submenu_btnlink:hover,
.menu .ekflexmenu_link:hover,
.menu .ekflexmenu_link_selected,
.menu .ekflexmenu_link_selected:hover,
.menu .ekflexmenu_button_selected{color:#FFF !important;background-color:#1799fe !important;}
/* tier 2 */
.menu ul ul .ekflexmenu_link_selected,
.menu ul ul .ekflexmenu_link:hover,
.menu ul ul .ekflexmenu_link_selected:hover{background-color:#888 !important;background-color:rgba(0,0,0,.5) !important;color:#FFF;}
/* tier 3 */
.menu .ekflexmenu_menu_level_2{display:none;}
/* tier 2 links HACK! ie7 and ie8 targeting */
.ie .menu ul ul .ekflexmenu_link_selected,.ie .menu ul ul .ekflexmenu_link:hover,.ie .menu ul ul .ekflexmenu_link_selected:hover{background-color:#888 !important;color:#FFF;}